<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/my/card.css" rel="stylesheet">
    <link href="/my/mystyle.css" rel="stylesheet">
    <link href="/my/pagination.css" rel="stylesheet">
</head>
<body>

<section layout:fragment="content">
    <h1>hello world</h1>
    <h2>write page</h2>
</section>
</body>
</html>