<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<section th:fragment="navigation">
    <div class="top_nav">
        <div class="nav_menu">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <nav class="nav navbar-nav">
                <ul class=" navbar-right">
                    <li class="nav-item dropdown open" style="padding-left: 15px;">
                        <!-- 인증된 경우 -->
                        <div sec:authorize="isAuthenticated()">
                            <div style="display: flex; align-items: center;">
                                <span sec:authentication="principal.username" style="margin-right: 10px;"></span>
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true"
                                   id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="/bootstrap/images/img.jpg" alt="">
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/logout">logout</a>
                                </div>
                            </div>
                        </div>

                        <!-- 인증 안 된 경우 -->
                        <div sec:authorize="isAnonymous()">
                            <a href="/login" class="btn btn-dark">Login</a>
                        </div>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</section>

</html>