<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="sidebar">
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <!-- 메뉴 리스트 -->
    </div>

    <script>
        fetch('/menu', { method: 'GET' })
            .then(response => response.json())
            .then(data => {
                setMenus(data);
            })
            .catch(error => console.error(error));


        var setMenus = function (menuItems) {
            const sidebarContainer = document.getElementById('sidebar-menu');

            const sidebarMenu = document.createElement('div');
            sidebarMenu.classList.add('menu_section');

            const sidebarList = document.createElement('ul');
            sidebarList.classList.add('nav', 'side-menu');

            topMenus = findMenuByLevel(menuItems, 1);
            topMenus.forEach(t => {
                const menuItem = document.createElement('li');
                const menuLink = document.createElement('a');
                const menuChevron = document.createElement('span');
                menuLink.appendChild(document.createTextNode(`${t.menuName}`));
                menuLink.appendChild(menuChevron);
                menuItem.appendChild(menuLink);

                const subMenus = findSubMenu(menuItems, t.id);
                if (subMenus.length > 0) {
                    const subMenu = document.createElement('ul');
                    subMenu.classList.add('nav', 'child_menu');
                    subMenus.forEach(s => {
                        const subMenuItem = document.createElement('li');
                        const subMenuLink = document.createElement('a');
                        subMenuLink.href = `${s.path}`;
                        subMenuLink.textContent = s.menuName;
                        subMenuItem.appendChild(subMenuLink);
                        subMenu.appendChild(subMenuItem);
                    })
                    menuItem.appendChild(subMenu);
                }
                sidebarList.appendChild(menuItem);
            })
            sidebarMenu.appendChild(sidebarList);
            sidebarContainer.appendChild(sidebarMenu);
        }

        var findMenuByLevel = function (data, level) {
            return data.filter(d => d.level === level);
        }

        var findSubMenu = function (data, parentMenuId) {
            return data.filter(d => d.parentMenuId === parentMenuId);
        }
    </script>
</section>

</html>