@charset "UTF-8";

.text-truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.max-width30 {
    max-width: 300px;
}

.max-width40 {
    max-width: 400px;
}

.max-width50 {
    max-width: 500px;
}
