<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab1">신간 도서</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab2">베스트셀러</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab1">
                <!-- Tab 1 content -->
                hello
            </div>
            <div class="tab-pane fade" id="tab2">
                <!-- Tab 2 content -->
                world
            </div>
        </div>
    </div>
</section>
</body>
</html>